@import "../../config";

.about {
  margin: 1.4rem;
  p {
    @include font($textColor3, 1rem, 400);
    text-align: justify;
  }
}

.header {
  display: flex;
  @include font($textColor2, 1.5rem, 600);
  img {
    display: none;
    margin-right: 1rem;
    &:hover,
    &:active {
      cursor: pointer;
    }
    @include media($md) {
      display: flex;
    }
  }
}
