@import "../../config";

.about {
  display: flex;
  img {
    display: none;
    margin: 1rem;
    &:hover,
    &:active {
      cursor: pointer;
    }
    @include media($md) {
      display: flex;
    }
  }
}
