//VARIABLES

$primaryColor: #3faad7;
$textColor1: #fff;
$textColor2: #000;
$textColor3: #14142b;

//MIXINS

@mixin table {
  display: grid;
  border-collapse: collapse;
  grid-template-columns: 1fr 1fr 1.6fr 1fr 1fr;
  line-height: 1.5rem;
}

@mixin font($color, $size, $weight) {
  font-family: "Poppins", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin displayFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
