@import "../config";

.main {
  @include displayFlex(space-between, center);
  width: 20%;
  margin: 1.5rem 1rem;
  width: 65vw;
  h4 {
    @include font($textColor2, 1.5rem, 600);
  }
}

.phoneListContainer {
  @include border(#14142b40);
  overflow: hidden;
  margin: 1rem;
  width: 65vw;
}

.container {
  display: flex;
}

/* .flexContainer {
  display: flex;
  flex-direction: column;
}
 */
