@import "../../config";

.main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "Kontakti ."
    "Table Modal";
  grid-gap: 1.4rem;
  margin: 1.4rem;
  margin-bottom: 3rem;

  h4 {
    @include font($textColor2, 1.5rem, 600);
    line-height: 1.75rem;
    letter-spacing: 0.01em;
  }

  @include media($xl) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Kontakti"
      "Modal"
      "Table";
  }
}

.notModal {
  @extend .main;
  grid-template-columns: 100%;

  @include media($xl) {
    grid-template-areas:
      "Kontakti ."
      "Table Modal";
  }
}

.kontakti {
  grid-area: Kontakti;
  @include displayFlex(space-between, center);
  @include media($sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.innerKontakti {
  display: flex;
  img {
    display: none;
  }
  @include media($md) {
    img {
      display: flex;
      margin-right: 1rem;
      @include hover();
    }
  }
}

.contactListContainer {
  @include border($borderColor2);
  overflow: hidden;
  grid-area: Table;
  box-shadow: $bShadowB;

  @include media($md) {
    border: none;
    box-shadow: none;
  }
}
.modal {
  grid-area: Modal;
}

.contactListHeader {
  @include media($md) {
    display: none;
  }
}
