@import "../../config";

.modal {
  @include border(rgba(20, 20, 43, 0.25));
  @include displayFlex(flex-start, center);
  flex-direction: column;
  width: 28rem;
  height: 100%;
  background-color: #f9fafc;

  @include media($sm) {
    width: 100%;
  }

  // @include media($sm) {
  //   width: auto;
  // }
  Button {
    width: 25.25rem;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;

    @include media($sm) {
      width: 90%;
    }
  }
  h4 {
    @include font($textColor2, 1.4rem, 600);
    @include media($sm) {
      font-size: 1rem;
      letter-spacing: 0.01em;
    }
  }
  img {
    width: 14px;
    height: 14px;
    @include hover();
  }

  input {
    @include font($textColor3, 15px, 300);
    border-color: transparent;
    outline: none;
    text-indent: 1rem;
    line-height: $lh;
    letter-spacing: 0.75px;
  }
}

.modalHeader {
  @include displayFlex(space-between, center);
  width: 25.25rem;
  @include media($sm) {
    width: 90%;
  }
}

.input {
  @include displayFlex(flex-start, center);
  @include border($borderColor);
  background: #fff;
  opacity: 0.5;
  box-sizing: border-box;
  margin: 0.8rem;
  width: 25.25rem;
  height: 3.5rem;

  @include media($sm) {
    width: 90%;
  }
}
