@import "../config";

.modal {
  @include border(rgba(20, 20, 43, 0.25));
  @include displayFlex(flex-start, center);
  flex-direction: column;
  width: 28rem;
  height: 100%;
  background-color: #f9fafc;
  Button {
    width: 25.25rem;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
  }
  h4 {
    @include font($textColor2, 1.4rem, 600);
  }
  img {
    width: 14px;
    height: 14px;
    &:hover {
      cursor: pointer;
    }
  }
  input {
    @include font($textColor3, 1rem, 300);
    border-color: transparent;
    outline: none;
    padding-left: 1rem;
  }
}

.modalHeader {
  @include displayFlex(space-between, center);
  width: 25.25rem;
}

.input {
  @include displayFlex(flex-start, center);
  @include border($borderColor);
  background: #fff;
  opacity: 0.5;
  box-sizing: border-box;
  margin: 0.8rem;
  width: 25.25rem;
  height: 3.5rem;
}
