@import "../Variables/Variables.module.scss";

.navbar {
  background-color: $primaryColor;
  color: $textColor1;
  height: 82px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;

  img {
    height: 2.5rem;
    width: 2rem;
    margin: 1rem;
  }
  ul {
    list-style: none;
    display: flex;
    li a {
      text-decoration: none;
      color: $textColor1;
      font-size: 1rem;
      margin: 0.2rem;
      padding: 0.9rem 2.2rem;
      border-radius: 1rem;

      &:hover,
      &.active {
        background-color: #fff;
        color: $textColor2;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
}

.links {
  margin-right: 1.2rem;
}
