@import "../Variables/Variables.module.scss";

.main {
  @include displayFlex(space-between, center);
  width: 60vw;
  margin: 1.5rem 1rem;
  h4 {
    @include font($textColor2, 1.5rem, 600);
  }
}

.phoneListContainer {
  border: 1px solid #14142b40;
  border-radius: 16px;
  overflow: hidden;
  margin: 1rem;
  width: 60vw;
}
