@import "../../config";

.navbar {
  @include displayFlex(space-between, center);
  @include font($textColor1, 1.5rem, 600);
  background-color: $primaryColor;
  height: 5.125rem;
  width: 100%;

  img {
    height: 2.5rem;
    width: 2rem;
    margin: 1.4rem;
  }
  ul {
    list-style: none;
    display: flex;

    li a {
      display: flex;
      text-decoration: none;
      color: $textColor1;
      font-size: 1rem;
      margin: 0.2rem;
      padding: 0.9rem 2.2rem;
      line-height: $lh;
      border-radius: 1rem;

      &:hover,
      &.active {
        background-color: #ffffff;
        color: $textColor2;
        box-shadow: $bShadowA;
        letter-spacing: 0.46px;
      }
    }

  }
  @include media($md) {
    ul {
      display: none;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  line-height: $lh;
}

.links {
  margin-right: 1.2rem;
}
