//VARIABLES

$primaryColor: #3faad7;
$textColor1: #fff;
$textColor2: #000;
$textColor3: #14142b;
$borderColor: #14142b;
$modalColor: #f9fafc;

//MIXINS

@mixin table {
  display: grid;
  border-collapse: collapse;
  grid-template-columns: 1fr 1fr 1.6fr 1fr 0.6fr;
  line-height: 1.5rem;
}

@mixin font($color, $size, $weight) {
  font-family: "Poppins", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin displayFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin border($color) {
  border: 1px solid $color;
  border-radius: 16px;
}

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}

//MEDIA SIZES

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
