//VARIABLES

$lh: 1.5rem;

//COLORS

$primaryColor: #3faad7;
$textColor1: #fff;
$textColor2: #000;
$textColor3: #14142b;
$borderColor: #14142b;
$modalColor: #f9fafc;

//MIXINS

@mixin table {
  display: grid;
  border-collapse: collapse;
  // grid-template-columns: 1fr 1fr 2fr 1fr 0.7fr;
  grid-template-columns: 15% 20% 35% 20% 10%;
  line-height: 1.5rem;

  @include media($xxl) {
    grid-template-columns: 15% 15% 35% 20% 15%;
  }

  @include media($md) {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 3.5rem);
  }
}

@mixin font($color, $size, $weight) {
  font-family: "Poppins", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin displayFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin border($color) {
  border: 1px solid $color;
  border-radius: 16px;
}

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}

//MEDIA SIZES

$xs: 350px;
// $sm: 576px;
$sm: 500px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
