//VARIABLES

$lh: 1.5rem;

$bShadowA: 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
$bShadowB: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

//COLORS

$primaryColor: #3faad7;
$textColor1: #fff;
$textColor2: #000;
$textColor3: #14142b;
$borderColor: #14142b;
$borderColor2: #14142b40;
$modalColor: #f9fafc;

//MIXINS

@mixin table {
  display: grid;
  grid-template-columns: 15% 20% 35% 20% 10%;
  line-height: 1.5rem;
  text-indent: 1rem;
  @include media($xxl) {
    grid-template-columns: 15% 15% 35% 20% 15%;
  }
}

@mixin font($color, $size, $weight) {
  font-family: "Poppins", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin displayFlex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin border($color) {
  border: 1px solid $color;
  border-radius: 16px;
}

@mixin hover() {
  &:active,
  &:hover {
    cursor: pointer;
  }
}

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}

//ANIMATIONS

@mixin animation() {
  animation: wiggle 300ms 8 none;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

//MEDIA SIZES

$xs: 350px;
$sm: 500px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
