@import "../config";

.table {
  @include table();
  @include font($textColor3, 1rem, 300);

  tbody,
  tr {
    display: contents;
  }

  td {
    padding: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(255, 255, 255, 0.002);
  }

  img {
    margin-right: 1.2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
