@import "../../config";

.container {
  @include font($textColor3, 1rem, 300);
  line-height: 143%;
  letter-spacing: 0.15px;

  @include table();
  align-items: center;
  grid-template-areas: "dName dLastName dEmail dPhone dAction";

  background: rgba(255, 255, 255, 0.002);

  img {
    margin-right: 1.2rem;
    &:hover,
    &:active {
      cursor: pointer;
      @include animation();
    }
  }

  @include media($md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "name dName"
      "lastName dLastName"
      "email dEmail"
      "phone dPhone"
      "action dAction";

    @include border(rgba(0, 0, 0, 0.12));
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

    margin-bottom: 1.4rem;
    overflow: hidden;
  }

  @include media($sm) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
      "name"
      "dName"
      "lastName"
      "dLastName"
      "email"
      "dEmail"
      "phone"
      "dPhone"
      "action"
      "dAction";

    font-size: 0.9rem;
    align-items: stretch;
  }
}

.name {
  grid-area: name;
}
.lastName {
  grid-area: lastName;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.action {
  grid-area: action;
}
.dName {
  grid-area: dName;
}
.dLastName {
  grid-area: dLastName;
}
.dEmail {
  grid-area: dEmail;
}
.dPhone {
  grid-area: dPhone;
}
.dAction {
  grid-area: dAction;
}

.name,
.lastName,
.email,
.phone,
.action {
  display: none;
  @include media($md) {
    display: grid;
    background: $primaryColor;

    @include font($textColor1, 1.1rem, 600);
    letter-spacing: 0.17px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

    background: $primaryColor;
    line-height: $lh;

    @include media($sm) {
      font-size: 0.9rem;
    }
  }
}
