@import "../../config";

.table {
  @include table();
  @include font($textColor3, 1rem, 300);
  line-height: 143%;
  letter-spacing: 0.15px;
  @include media($xs) {
    font-size: 0.8rem;
  }
  tbody {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
  }

  tbody,
  tr {
    display: contents;
    @include media($md) {
      @include table();
    }
  }

  td {
    padding: 1.2rem;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.002);
  }

  img {
    margin-right: 1.2rem;
    &:hover {
      cursor: pointer;
    }
  }
  @include media($md) {
    display: flex;
    flex-direction: column;
  }
}

.contactListHeader {
  display: none;
  @include media($md) {
    @include table();
  }
}

.container {
  @include media($md) {
    display: grid;
    grid-template-columns: auto 100%;

    @include border(rgba(0, 0, 0, 0.12));
    margin-bottom: 1.4rem;
    overflow: hidden;
  }

  @include media($sm) {
    display: grid;
    grid-template-columns: auto;
  }
}
